# Server Configuration
PORT=4000
MONGODB_URL=mongodb://localhost:27017/studynotion

# Cloudinary Configuration
CLOUD_NAME=
API_KEY=
API_SECRET=
FOLDER_NAME=StudyNotion

# Razorpay Configuration
RAZORPAY_KEY=
RAZORPAY_SECRET=

# Mail Configuration
MAIL_HOST=smtp.gmail.com
MAIL_USER=
MAIL_PASS=

# Auth Configuration
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:3000
